toread.bbl
toread.blg
toread.out
toread.synctex.gz
pics/
thesis.bbl
thesis.blg
thesis.dvi
thesis.lof
thesis.out
thesis.pdf
thesis.synctex.gz
thesis.toc
Definitions.pdf
cover1.aux
cover1.log
dNdEta.pdf
eta-s-vs-t-tc3-eps-converted-to.pdf
eta-s-vs-t-tc3.eps
glauber_eli.pdf
h-elsevier.bst
h-physrev.bst
mastercites2.bib
.DS_Store
defs.log
sec_introduction.log
sec_introduction.pdf
sec_introduction.synctex.gz
figures/tikz/qcdlo.pdf
figures/tikz/showering.pdf
**/*.log
**/*.gz
**/*.aux
defs.tex
