toread.aux
toread.bbl
toread.blg
toread.log
toread.out
toread.synctex.gz
pics/
sec_introduction.aux
sec_analysis.aux
sec_correlations.aux
sec_experimental.aux
sec_results.aux
sec_summary.aux
sec_summary.log
sec_systematics.aux
sec_tpc.aux
thesis.aux
thesis.bbl
thesis.blg
thesis.dvi
thesis.lof
thesis.log
thesis.out
thesis.pdf
thesis.synctex.gz
thesis.toc
Definitions.pdf
cover1.aux
cover1.log
dNdEta.pdf
defs.aux
defs.tex
eta-s-vs-t-tc3-eps-converted-to.pdf
eta-s-vs-t-tc3.eps
glauber_eli.pdf
h-elsevier.bst
h-physrev.bst
mastercites2.bib
.DS_Store
defs.log
