toread.aux
toread.bbl
toread.blg
toread.log
toread.out
toread.synctex.gz
pics/
sec3.aux
sec4.tex
sec_2.aux
sec_2.log
sec_3.aux
sec_Introduction_T.aux
sec_introduction.aux
sec_Introduction_T.log
sec_Introduction_extended.aux
sec_analysis.aux
sec_correlations.aux
sec_experimental.aux
sec_qns.aux
sec_results.aux
sec_summary.aux
sec_summary.log
sec_systematics.aux
sec_tpc.aux
sec_unfolding.aux
sec_unfolding.log
thesis.aux
thesis.bbl
thesis.blg
thesis.dvi
thesis.lof
thesis.log
thesis.out
thesis.pdf
thesis.synctex.gz
thesis.toc
Definitions.pdf
cover1.aux
cover1.log
dNdEta.pdf
defs.aux
defs.tex
eta-s-vs-t-tc3-eps-converted-to.pdf
eta-s-vs-t-tc3.eps
glauber_eli.pdf
h-elsevier.bst
h-physrev.bst
mastercites2.bib
.DS_Store
